{% extends 'base.html' %}
{% block head %}
<title> ReviewHub - Your Perfect Destination For Book and Movie Reviews </title>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="container pull-right" style="font-size: 20;margin-top: 60px; width: 300px;text-align: center; height: 180px;background-color: #FFFFFF;border-radius: 4px;margin-right: 10">
<p>Subscribe To Our Newsletter</p><p style="margin-top: -15" >&</p>
<p style="font-family: 'Lobster', cursive;margin-top: -15">ASSESS BEFORE YOU POSSESS</p>
<form>
    <div class="input-group">
        <input type="email" class="form-control" required="required" placeholder="E-mail">
        <span class="input-group-btn">
            <button style="font-size: 20px" class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
        </span>
    </div>
</form>
</div>
<div class="scrollbar border-0 rounded pull-right" id="style-1" style="margin-top: 260px;width: 300px;margin-right: -300">
<div style="height: 60px;background-color: #F8F8F8;font-size: 1.7em;text-align: center;"><p>Browse Reviews</p><p style="font-size: 20;margin-top: -15px">(GENRE)</p></div>
  <div class="force-overflow">
    <ul class="list-group">
    {% for i in cat %}
      <li class="list-group-item"><a href="/tag/{{i.slug}}">{{i.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<br>
 {% if data1 %}
 {% if not tag %}
 {% if not category %}
 <h1 style="margin-left: -10%;margin-top: 50px;color: #1B1B1F;font-family: 'Lobster', cursive;font-size: 50px;">Now Trending</h1><br><br>
<div id="slider" style="margin-left: 15%;margin-top: -30px;">
  <a href="#" class="control_next">>></a>
  <a href="#" class="control_prev"><</a>
  <ul>
  {% for i in data1 %}
    <li><a href="{% url 'detail' i.pk %}"><img src="{{i.pic.url}}" height="300px" width="225px"></a></li>
  {% endfor %}</a>
  </ul>  
</div>
{% endif %}
{% endif %}
{% endif %}

{% if tag %}
   <ul><h2 style="margin-left: 18%;margin-top: 5%;color: white">Posts tagged with "{{ tag.name }}"</h2></ul>
{% endif %}

{% if category %}
   <h2 style="margin-left: 18%;margin-top: 5%;color: white"><ul>Posts in category "{{ category.name }}"</ul></h2>
{% endif %}



{% if posts %}
{% for i in posts %}
{% if i.moderated is True %}
<div style="position:relative;top:40px;width:600px;height:220px;margin-left:15%;background-color: white;">
{% if i.pic %}
<div> <a href="{% url 'detail' i.pk %}"><img src="{{i.pic.url}}" height="219px" width="150px" style="border:1px solid black;"></a></div>
{% endif %}
<div style="position: relative;top: -220px;left: 170px;"><a href="{% url 'detail' i.pk %}"><font style="text-transform: uppercase;color: black;font-size: 1.9em;font-family: monospace;">{{i.title}}</font></a></div>
<div style="position: relative;top: -210px;left: 170px;"><font style="text-transform: capitalize;color: black;font-size: 0.8em;font-style: italic;font-family: cursive;">Review By - {{i.user}}</font></div>
<div style="position: relative;top: -225px;left: 390px;"><font style="text-transform: capitalize;color: black;font-size: 0.8em;">Category:{% for category in i.categories %}
{% if not forloop.last %}, {% endif %}

   {% endfor %}<a href="{% url "list_of_post_by_category" i.category.slug %}">{{i.category}}</a>
</font></div>
<div style="position: relative;top: -225px;left: 390px;"><font style="text-transform: capitalize;color: black;font-size: 0.8em;">Tags: {% for tag in i.tags.all %}

       <a href="{% url "post_list_by_tag" tag.slug %}">{{ tag.name }}</a>

       {% if not forloop.last %}, {% endif %}

   {% endfor %}</font></div>

<div style="position: relative;left:175px;top:-220px;width:400px;height: 150px;"><p>{{i.content|truncatewords:30|striptags|safe}}</p><a href="{% url 'detail' i.pk %}" style="position:static; float: right;">Read Full Review ></a></div>
</div>
</div>
<div style="position: relative;width: 600px;margin-left:15%;top: 70px;"><hr style="background-color: #fff;
	border-top: 2px solid #8c8b8b;"></div>
{% endif %} 
{% endfor %}
{% endif %}
{% if msg %}
<h1 style="left: 0;line-height: 200px;margin: auto;margin-top: -100px;position: absolute;top: 50%;width: 100%;">{{msg}}</h1>
{% endif %}
<br>
<br>
{% if posts %}
<h4 style="margin-left: 33%;color: white;">{% include "pagination.html" with page=posts %}</h4>
{% endif %}
<script>
jQuery(document).ready(function ($) {

  setInterval(function () {
    moveRight();
}, 3000);
  
  var slideCount = $('#slider ul li').length;
  var slideWidth = $('#slider ul li').width();
  var slideHeight = $('#slider ul li').height();
  var sliderUlWidth = slideCount * slideWidth;
  
  $('#slider').css({ width: slideWidth, height: slideHeight });
  
  $('#slider ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });
  
    $('#slider ul li:last-child').prependTo('#slider ul');

    function moveLeft() {
        $('#slider ul').animate({
            left: + slideWidth
        }, 200, function () {
            $('#slider ul li:last-child').prependTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    function moveRight() {
        $('#slider ul').animate({
            left: - slideWidth
        }, 200, function () {
            $('#slider ul li:first-child').appendTo('#slider ul');
            $('#slider ul').css('left', '');
        });
    };

    $('a.control_prev').click(function () {
        moveLeft();
    });

    $('a.control_next').click(function () {
        moveRight();
    });

});    

</script>
{% endblock %}